<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <div class="main-footer">
        <div id="footer-top">
            <div id="footer-heading">
                <h2>SHOP</h2>
                <div class="container">
                    <div class="left">
                        <ul>
                            <li>MOTIVATE</li>
                            <li>SUPERBOOST</li>
                            <li>DAILY</li>
                            <li>VARIETY</li>
                        </ul>
                    </div>
                    <div class="rights">
                        <ul>
                            <li>About</li>
                            <li>Ingreadients</li>
                            <li>Reviews</li>
                            <li>FAQs</li>
                            <li>Contact</li>
                            <li>Subscription</li>
                            <li>Affliates</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="icons-footer">
                <img src="assets/facebook.png" height="50px" width="50px">
                <img src="assets/twitter.png" height="50px" width="50px">
                <img src="assets/instagram.png" height="50px" width="50px">
            </div>
        </div>
        <div id="footer-bottom">
            <div id="footer-bottom-content">
                <p>*These Statement have not been evaluated by the Food and Drug Administration <br>
                    This product is not intendent to diagrame, teate, care or prevented any disease</p>
            </div>
            <div>
                <img src="assets/paypal-logo.png" height="40px" width="40px">
                <img src="assets/symbols.png" height="40px" width="40px">
                <img src="assets/amazon-pay.png" height="40px" width="40px">
                <img src="assets/phone.png" height="40px" width="40px">
                <img src="assets/phone.png" height="40px" width="40px">
                <img src="assets/phone.png" height="40px" width="40px">
                <h3>PRIVACY POLICY</h3>
                <h3>TEARM AND CONDITIONS</h3>
            </div>
        </div>
    </div>
</body>

</html>