{{ "section-footer-simple.css" | asset_url | stylesheet_tag }}
<div class="main-footer">
    <div id="footer-top">
        <div id="footer-heading">
            <h2>SHOP</h2>
            <div class="container">
                <div class="left">
                    <ul>
                        <li> <a href="#"> MOTIVATE </a></li>
                        <li> <a href="#"> SUPERBOOST </a></li>
                        <li> <a href="#"> DAILY </a></li>
                        <li> <a href="#"> VARIETY </a></li>
                    </ul>
                </div>
                <div class="rights">
                    <ul>
                        <li> <a href="#"> About </a></li>
                        <li> <a href="#"> Ingreadients </a></li>
                        <li> <a href="#"> Reviews </a></li>
                        <li> <a href="#"> FAQs </a></li>
                        <li> <a href="#"> Contact </a></li>
                        <li> <a href="#"> Subscription </a></li>
                        <li> <a href="#"> Affliates </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="icons-footer">
            <img src="assets/facebook.png" height="50px" width="50px">
            <img src="assets/twitter.png" height="50px" width="50px">
            <img src="assets/instagram.png" height="50px" width="50px">
        </div>
    </div>
    <div id="footer-bottom">
        <div id="footer-bottom-content">
            <p>*These Statement have not been evaluated by the Food and Drug Administration <br>
                This product is not intendent to diagnose, treat, cure or prevent any disease</p>
        </div>
        
        <div id="payment-icon">
            <img src="assets/paypal-logo.png" height="40px" width="40px">
            <img src="assets/symbols.png" height="40px" width="40px">
            <img src="assets/amazon-pay.png" height="40px" width="40px">
            <img src="assets/phone.png" height="40px" width="40px">
            <div id="privacy">          
            <h3 style="margin-top: 10px;">PRIVACY POLICY</h3><br>
            <h3>TEARM AND CONDITIONS</h3>
          </div>

        </div>
    </div>
</div>