{{ "section-homepage-testmonials.css" | asset_url | stylesheet_tag }}


<div class="row page-width">

  <h1 id="ingredients">What Our Friends Have To Say</h1>

  <div class="container">
    <div class="card_testimonials">
      <img src="assets/3.jpg" style="width:150px;height:auto;padding-top:10px">
      <div class="divinner">
        <p class="title">"so delicious,<br> and nutritious"</p>
        <p>-Gal</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card_testimonials">
      <img src="assets/2.png" style="width:150px;height:auto;padding-top:10px">
      <div class="divinner">
        <p class="title">"Is this for real"</p>
        <br>
        <p>-other Guy</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="card_testimonials">
      <img src="assets/2.png" style="width:150px;height:auto;padding-top:10px">
      <div class="divinner">
        <p class="title">"Is this for real"</p>
        <br>
        <p>-other Guy</p>
      </div>
    </div>
  </div>
</div>
<div id="bePhenominal">
  <button class="button button5">be Phenominal</button>
</div>