<<<<<<< HEAD
	{{ "section-homepage-products.css" | asset_url | stylesheet_tag }}

<div class="homepage-products">

	<div style="text-align: center;">	
		<div class="card">
=======


	{{ "section-homepage-products.css" | asset_url | stylesheet_tag }}

	
<div style="text-align: center;">	
	<div class="card">
	
		<img src="assets/placeholder.png">
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corporis</p>
	<button class="button button5">Get Mootivated</button>
>>>>>>> bb09e12638f68edcf60522b35171ca16746d3bfd
		
			<img src="assets/placeholder.png">
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corporis</p>
		<button class="button button5">Get Mootivated</button>
			
	</div>
	<div style="text-align: center;">	
		<div class="card">
			 <img src="assets/placeholder.png">
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corporis  </p>	
		<button class="button button5">Get Superboosted</button>
	</div>
	
	<div style="text-align: center;">	
		<div class="card">
		
			<img src="assets/placeholder.png">
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corporis</p>
		<button class="button button5">Get it Daily</button>	
	</div>
	
	<div style="text-align: center;">	
		<div class="card">
			<img src="assets/placeholder.png">
			
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corpori</p>
		<button class="button button5">Try it All</button>	
	</div>

</div>	

<<<<<<< HEAD
	{% schema %}
	{
		"name": "Homepage Products",
		"tag": "section",
		"class": "spaced-section"
	}
	{% endschema %}
=======
<div>	
>>>>>>> bb09e12638f68edcf60522b35171ca16746d3bfd
