{{ "section-homepage-features.css" | asset_url | stylesheet_tag }}

    <div class="row page-width" style="margin-top: 10rem;">
        <div class="col-12 col-s-10" id="home-feature">
            <h1>Not just <br> better <br> Phenominal </h1>
            <h3 id="heading3">We've taken<br>sparkling water and
                made it<br> truly functional.</h3>
        </div>
        <div class="col-12 col-s-10" id="home-feature">
            <div id="etxt">
                <div>
                    <p id="text"><img src="{{'juice.png' | asset_img_url: '37x'}}"><span id="demotxt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error velit corrupti obcaecati voluptatum inventore corporis unde nisi</span></p>
                </div>

                <button class="button button5" style="margin-top: 3rem; margin-left: 70px;">Shop Now</button>
            </div>
        </div>
    </div>
