	{{ "section-homepage-products.css" | asset_url | stylesheet_tag }}

<div class="page-width">

	<div style="text-align: center;">	
		<div class="card">
		
			<img src="assets/placeholder.png">
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corporis</p>
		<button class="button button5">Get Mootivated</button>
			
	</div>
	<div style="text-align: center;">	
		<div class="card">
			 <img src="assets/placeholder.png">
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corporis  </p>	
		<button class="button button5">Get Superboosted</button>
	</div>
	
	<div style="text-align: center;">	
		<div class="card">
		
			<img src="assets/placeholder.png">
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corporis</p>
		<button class="button button5">Get it Daily</button>	
	</div>
	
	<div style="text-align: center;">	
		<div class="card">
			<img src="assets/placeholder.png">
			
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corpori</p>
		<button class="button button5">Try it All</button>	
	</div>

</div>	

	{% schema %}
	{
		"name": "Homepage Products",
		"tag": "section",
		"class": "spaced-section"
	}
	{% endschema %}