<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/section-homepage-products.css">
</head>

<body>

<div style="text-align: center;">	
	<div class="card">
	
		<img src="assets/placeholder.png">
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corporis</p>
	<button class="button button5">Get Mootivated</button>
		
</div>
<div style="text-align: center;">	
	<div class="card">
	   <img src="assets/placeholder.png">
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corporis  </p>	
	<button class="button button5">Get Superboosted</button>
</div>

<div style="text-align: center;">	
	<div class="card">
	
		<img src="assets/placeholder.png">
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corporis</p>
	<button class="button button5">Get it Daily</button>	
</div>

<div style="text-align: center;">	
	<div class="card">
		<img src="assets/placeholder.png">
	  
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. Distinctio quae perferendis, corpori</p>
	<button class="button button5">Try it All</button>	
</div>


<div>	
	
</body>
</html>