{{ "section-homepage-ingredients.css" | asset_url | stylesheet_tag}}
  
<div class="row">
  <div class="col-6 col-s-9" >
    <h1 style="text-align: center;">Wellness in a can. Yes, it's that easy </h1>
    <div class="upk-featured-list">
      <div class="upk-featured-list-content">
        <div style="margin-right: 13px;"><img src="assets/placeholder.png" alt=""> </div>
        <div>
          <h1 class="upk-featured-list-title">Organic Elderberry (Superboost)</h1>
          <div style="margin-top: 10px;">A Natural issune booster</div>
        </div>
      </div>
    </div>
    
  </div> 

  <div class="col-6 col-s-9"  id="button">
    <button class="btn fifth">Shop Now</button>

  </div>
</div>   
