{{ "section-signup-offer.css" | asset_url | stylesheet_tag }}
<div class="w3-container page-width">
  <div style="overflow: hidden;">
    <div class="row" id="section-signup">
      <h1 id="signupofferh1">{{ section.settings.section-heading }}</h1>
    </div>
    <div class="row">
      <div class="column-010">
        <button class="btn0"> <i class="fa fa-envelope" style="font-size:20px;">&nbsp;Join Now</i></button>
      </div>
      <div class="column-020">
        <div id="column2">
          <h2>{{ section.settings.section-text }}</h2>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="page-width">
  <div style="text-align: center;">
    <h2>{{ section.settings.referral-text }}</h2>
  </div>
</div>

{% schema %}
{
  "name": "Sign Up Offer",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "section-heading",
      "label": "Section Heading",
      "default": "Section Heading Here"
    },
    {
      "type": "text",
      "id": "button-text",
      "label": "Button Text",
      "default": "Join Now"
    },
    {
      "type": "text",
      "id": "section-text",
      "label": "Section Text",
      "default": "Section Text Here"
    },
    {
      "type": "text",
      "id": "referral-text",
      "label": "Referral Text",
      "default": "Referral Text Here"
    }
  ]
}
{% endschema %}