{{ "section-signup-offer.css" | asset_url | stylesheet_tag }}
<div class="w3-container page-width">
  <div style="overflow: hidden;">
    <div class="row" id="section-signup">
      <h1 id="signupofferh1"> all for the Phenomenal you </h1>
    </div>
    <div class="row">
      <div class="column-010">
        <button class="btn0"> <i class="fa fa-envelope" style="font-size:20px;">&nbsp;Join Now</i></button>
      </div>
      <div class="column-020">
        <div id="column2">
          <h2>Sign up for 10% off your first order, news, promotions and insider offers. </h2>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="page-width">
  <div style="text-align: center;">
    <h2>You're Phenom. Join our affiliate/referral program</h2>
  </div>
</div>

{% schema %}
{
"name": "Homepage Signup",
"tag": "section",
"class": "spaced-section"
}
{% endschema %}