.containers{
	overflow: hidden;
}
.layout12{
	width: 100%;
    display: grid;
	justify-content: space-evenly;
}
  .flex-left {
	display: flex; 
	flex-direction: column;
	width: 40%; 

  }  
  
  .flex-right {
	display: flex;
	justify-content: center;
	width: 40%;
  }
  div#features-row{
	margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
  }
  @media only screen and (max-width: 750px) {
 
	.containers{
		width: 100%;
		}
		
		div#features-row{
			display: block !important;
		  }
		  .flex-right, .flex-left{
			  width: 100%;
		  }
		  #heading3{
			  padding-top: 60px !important;
		  } 
		  #home-feature h1, h3{
			  text-align: center;
		  } 

  }

  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	
	div#features-row{
		display: block !important;
	  }
	  .flex-right, .flex-left{
		  width: 100%;
	  }
	  #heading3{
		  padding-top: 60px !important;
	  } 
    

    

  }

 #home-feature, .row{
	max-width: 100%;
}
#home-feature,
h1 {
	font-size: 60px
}

#home-feature h1,
h3 {
	margin: 1.6rem;
}

#home-feature,
ul {
	list-style-type: none;
}

#home-feature,
ul,
li {
	font-size: 23px;
}

#etxt {
	font-size: 23px;

}

#etxt img {
	float: left;
}

#demotxt {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 10px;
}

.button-features_section {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #000000;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; 
}


#heading3 {
	padding-top: 200px;
	font-size: 30px;
	font-weight: lighter;
}

