.row{
	Width: 100%;
	overflow-x: hidden;
}
  @media (min-width: 750px) {
	.column_hompage_ingredients {
	  width: 50%;
	  float:left;
	  align-content: center;
	}
	.row {
	  content: "";
	  display: table;
	  clear: both;
	}
	.upk-featured-list-title-ingredients .list-content-ingredients{
		padding: 0px 0px;
	}
	

  }

  @media (min-width: 750px){
	.list-ingredients{
		display: flex;
	    margin: 50px !important;
	 } 
  }
  @media (min-width: 481px) and (max-width: 750px) {
  
	.list-ingredients{
		display: flex;
        margin: 30px !important;
	 } 
	 h1{
		 font-size: 40px !important;
	 }
	
  }
 
  .list-ingredients{
	display: flex;
	justify-content: center;
	margin: 30px !important;
	margin-left: 10px !important;
 }
 
 
 .list-ingredients .list-content-ingredients {
	 position: relative;
	 display: flex;
	 align-items: center;
	 overflow: hidden;
}

 .list-ingredients .upk-featured-list-title-ingredients {
	 margin: 0;
	 font-size: 25px;
	 font-weight: 700;

	 
}
 .list-ingredients  {

	 position: relative;
	 color: #000000;
	 font-size: 17px;
	 line-height: 1;
	 font-weight: 500;

}
 
h1{
  font-size: 50px;
}

#ingredient-row{
	margin-top: 60px;
}


.btn-ingredients {
	box-sizing: border-box;
	appearance: none;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
}

.fifth-ingredients {
	border-color: #000000;
	border-radius: 0;
	color: #000000;
	position: relative;
	overflow: hidden;
	z-index: 1;
	margin: auto;

}
