*{margin: 0;padding: 0; box-sizing: border-box;

   
   }
   
   
   #section-signup h1{
        font-size: 50px;
        margin: 50px;
       text-align: center;
     }
   
   
   /* @media only screen and (min-width: 750px) {
    .col-s-9 {width: 75%;}
   
   }
   @media only screen and (min-width: 990px) {
    .col-6 {width: 100%;}
   
   } */
   
   
   .btn0 {
      box-sizing: border-box;
      appearance: none;
      background-color: transparent;
      cursor: pointer;
      align-self: center;
      font-size: 1,8rem;
      font-weight: 400;
      line-height: 1;
      margin: 20px;
      padding: 1.2em 4em;
      text-decoration: none;
      text-align: center;
      font-weight: 700;
   }
   
     * {
      box-sizing: border-box;
     }
     
     /* Create two equal columns that floats next to each other */
     .column-01 {
      float: left;
      width: 30%;
      padding: 10px;
       
     }
   
     .column-02{
      float: right;
      width: 70%;
      padding: 10px;
      height: 300px; 
     }
     
     @media only screen and (max-width: 750px)  {
      .column-01 {
         float: none !important;
         width: 100% !important;
         text-align: center;
   
         margin-left: 12px !important;
        }
      
        .column-02{
         float: none;
         width: 100% !important;
         text-align: center;
        }
        #sech2{
          margin-top: 1.2rem !important;  
        }
      
     }
   
     #column2{
        text-align: center !important;
     }
   
     #sech2{
        margin-top: 10rem;
     }
   
     /* Clear floats after the columns */
     .row:after {
      content: ""; 
      display: table;
      clear: both;
     }
     
     /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
     @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
     }